# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.deb

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# OctoMY

local_overrides.pri


/build*
/integration/mxe
/integration/scripts
*.txt

/content/design/footage*
/integration/docker

/*/android/gradle*

/src/libs/build/*
/src/libs/junk/*
/src/libs/*/build*
/src/libs/libclt/OpenCL-ICD-Loader*

libzeroconf*

*~

/content/build/*


/content/design/*
!/content/design/favicon.ico
!/content/design/favicon.png
!/content/design/icons.svg
!/content/design/octomy_logo.png
!/content/design/octomy_logo.svg
!/content/design/profile_graphics/logos/octomy_logo_blog_shiny.png
!/content/design/ux.svg


src/libs/.qmake.stash

/src/zoo/www/*



# Temporary
content/website/style.css.mustache
content/website/style.css.mustache.mustache
integration/release_management/DOCKER_PREP_OK
integration/v2/compile_commands.json
integration/v2/junk/*
integration/v2/src/libs/*_old/*
integration/v1/*

.sass-cache
junk/**/*
