# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.deb

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# OctoMY

local_overrides.pri


/build*
/integration/mxe
/integration/scripts
*.txt

/design/footage*
/integration/docker

/*/android/gradle*

/src/libs/build/*
/src/libs/junk/*
/src/libs/*/build*
/src/libs/libclt/OpenCL-ICD-Loader*

libzeroconf*

*~


/design/*
!/design/favicon.ico
!/design/favicon.png
!/design/icons.svg
!/design/octomy_logo.png
!/design/octomy_logo.svg
!/design/profile_graphics/logos/octomy_logo_blog_shiny.png
!/design/ux.svg


src/libs/.qmake.stash

/src/zoo/www/*
